/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Base Typography */
html {
  font-size: 62.5%;
}
body {
  font-family: 'EB Garamond', serif;
}

/* MAIN SECTION */
main {
  max-width: 1600px;
  height: 100vh;
  display: flex;
  background: center / cover no-repeat
    url(../img/manuel-cosentino-n--CMLApjfI-unsplash.jpg);
  margin: 0 auto;
}
main > section {
  max-width: 475px;
  height: 100%;
  background: rgba(169, 34, 59, 0.4);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
h1,
.subheading,
.subheading + div,
h2,
h2 ~ div {
  width: 80%;
  padding-bottom: 50px;
}
.subheading + div p {
  max-width: 300px;
  line-height: 1.6;
}
h1 {
  font-size: 9.8rem;
  letter-spacing: 0.3rem;
}
.subheading,
h2,
h2 ~ div {
  font-size: 4rem;
}
h2 {
  padding-top: 100px;
}
.kanji {
  position: absolute;
  z-index: -1;
  color: rgba(0, 0, 0, 0.2);
}
p {
  font-size: 2.4rem;
}

/* FIRST REGION */

.regionFirst {
  display: flex;
  height: 75vh;
  max-width: 1600px;
  margin: 0 auto;
}

.regionFirst > section:first-of-type {
  background: #f98e80;
  flex-grow: 1;
}
.regionFirst .image {
  flex-basis: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background: green;
}
.seasons {
  width: 50%;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
}
.seasonBlurb {
  flex-grow: 1;
}
.seasonNav {
  font-size: 3rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
}

.seasonNav a {
  /* height: 100%; */
  flex-grow: 1;
  color: #000;
}

.seasonNav button {
  /* height: 100%; */
  flex-grow: 1;
  color: #000;
  font-size: 3rem;
  font-family: 'EB Garamond', serif;
  line-height: 3rem;
  text-align: start;
  display: flex;
  align-items: flex-start;
}

.seasonNav button:hover,
.seasonNav button:focus {
  cursor: pointer;
}
